body{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 72px;
    text-align: center;
}

p{
    font-size: 12px;
    text-align: justify;
}

.infobae{
    font-size: 72px;
    color: orange;
}