body{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

h1{
    font-size: 4.6em;
    text-align: center;
}

h2{
    font-size: 2.7em;
}

img {
    max-width: 100%;
    height: auto;
}

label{
    font-size: 0.8em;
    color: #3b3b3b;
}

p{
    text-align: justify;
}

.infobae{
    font-size: 4.6em;
    color: orange;
}

.recomendaciones{
    border-radius: 6px;
    padding: 0px 8px 0px 16px;
    border: 2px solid #fabb67;
    background-color: #fff9f2;
    box-sizing: content-box;
    display: inline-block;
}

a{
    color: inherit;
    text-decoration: none;
}

.navegacion-principal{
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 8px 0px 8px 0px;
    text-align: center;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    grid-column: 4 / 5;
}

.navegacion-secundaria{
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 8px 0px 8px 0px;
    display: flex;
    gap: 32px;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    grid-column: 4 / 5;
}

.boton-compartir {
    position: relative;
    justify-content: right;
    padding: 5px 40px 5px 5px;
    border-radius: 100px;
    background-color:white;
    border: 1px solid #c2c2c2;
    color: #3b3b3b;
}

.boton-compartir img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.hora-compartir {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.noticia{
    display: flex;
    gap: 92px;
}

.noticia-principal{
    flex: 1 0 65%;
}

.noticia-recomendadas{
    flex: 1 0 30%;
}

.titulo-noticias-recomendadas{
    border-top: 1px solid #3b3b3b;
    border-bottom: 1.5px solid orange;
    padding-top: 8px;
    padding-bottom: 8px;
}

.noticia-recomendada-top{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    font-size: 0.8em;
}